# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List commonly used Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy

| Data Science Tools |
| ----------- |
| Jupyter Notebook |
| VS Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Abdulrahman Alawodah